* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-areas:
    "sidebar about about"
    "sidebar projects projects"
    "sidebar contact contact";
  grid-template-columns: 1fr 1fr 1fr;
}

.navbar {
  grid-area: sidebar;
  background-color: #13093f;
  color: #fff;
}

.navbar .container {
  display: grid;
  justify-content: center;
  grid-row-gap: 100px;
}

.nav-header {
  padding: 20px 0 0 0;
}

.nav-image {
  /* padding: 20px 0 0 0; */
  border-radius: 150px;
  height: 20vh;
  justify-self: center;
}

.nav-ul {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
  height: 300px;
}

.navbar .nav-list-item {
  padding: 10px;
  align-self: center;
  font-size: 24px;
}

.nav-a {
  text-decoration: none;
  color: #fff;
}

.nav-a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

.about-section {
  grid-area: about;
  background-color: #cacaca;
  height: 100vh;
  position: relative;
}

.about-title {
  text-align: center;
  font-size: 32px;
  background-color: #fff;
}

.about-para {
  text-align: center;
  padding: 2rem;
}

.btn-about {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 100px;
  background-color: #13093f;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  text-align: center;
  border-radius: 50px;
}

.projects-section {
  grid-area: projects;
}

.contact-section {
  grid-area: contact;
}
